/* ページ全体 */
/* スマホ対応 */
@media screen and (max-device-width: 480px) {
  body{
    background-color: #00d0e8;
  }
}
body{
  background-color: #ffffe8;
}

/* 概要 */
.gaiyo{
  background-color: #ffe68b;
}
/* メニュー全体 */
nav{
  margin: 0px auto 5em;
  padding: 10px;
  width: 700px;
  background-color: #0cbadf;
}
/* メインメニュー */
nav ul{
  width: 700px;
  list-style: none;
}
nav ul li{
  float: left;
  overflow: hidden;
  text-align: center;
  /*text-indent: 100%;*/
  white-space: nowrap;
}
nav ul li ul{
  display: none;
  padding: 0 0 0 20px;
}
nav ul li:hover ul{
  position: absolute;
  z-index: 100;
  display: block;
  width: 200px;
  background-color: #8a8987;
}
nav ul li a{
  display: block;
  padding: 0.5em 0;
  width: 125px;
  border: 1px solid #2c4762;
  background-color: #ffffff;
}
/* サブメニュー */
nav ul li ul li {
  float: none;
  margin: 0;
  border-right: 1px solid #8a8987;
  border-bottom: 1px solid #8a8987;
  border-left: 1px solid #8a8987;
}
nav ul li ul li a {
  display: block;
  padding: 0.5em 0;
  width: 200px;
  border: none;
  text-decoration: none;
}
nav ul li ul li a:hover{
  background-color: #b0dd2c;
}
/* クラス単位 */
.clearfix{
  *Zoom: 1;
}
.clearfix:before,
.clearfix:after{
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after{
  clear:both;
}
/* ボタン画像設定 */
a.mbtn1{ background: url(../img/btn053_01.png) no-repeat; background-size:cover; }
a.mbtn2{ background: url(../img/btn053_02.png) no-repeat; background-size:cover; }
a.mbtn3{ background: url(../img/btn053_03.png) no-repeat; background-size:cover; }
a.mbtn4{ background: url(../img/btn053_04.png) no-repeat; background-size:cover; }
a.mbtn5{ background: url(../img/btn053_05.png) no-repeat; background-size:cover; }
a:hover.mbtn1{ background: url(../img/btn051_01.gif) no-repeat; background-size:cover; }
a:hover.mbtn2{ background: url(../img/btn051_02.gif) no-repeat; background-size:cover; }
a:hover.mbtn3{ background: url(../img/btn051_03.gif) no-repeat; background-size:cover; }
a:hover.mbtn4{ background: url(../img/btn051_04.gif) no-repeat; background-size:cover; }
a:hover.mbtn5{ background: url(../img/btn051_05.gif) no-repeat; background-size:cover; }
